/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body {
  background: url("assets/burger-friends.jpg") no-repeat center center fixed;
  background-size: cover;
}

.page-heading {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: black;
  background-color: #0fb9b1;
  padding: 5px 0;
  letter-spacing: 2px;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: center;
  opacity: 0.75
}

.child1 {
  background-color: white;
  height: 200px;
  width: 200px;
  padding: 50px;
  border: solid 3px white;
  margin: 0
  border: 5px solid #1C6EA4;
  border-radius: 9px;
}

.child2 {
  background-color: white;
  background: url(assets/cookpot.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 200px;
  width: 200px;
  padding: 50px;
  border: solid 3px white;
  margin: 0
  border: 5px solid #1C6EA4;
  border-radius: 9px;
}
